
* {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

body{
    background-color: #BAD7E9;
}

/* ---Header---*/


.logo-challenge{
    display: flex;
    margin: 1.7% 3%;
}

/*---Main---*/



main{
    margin-top: 5%;
    display: flex;
    gap: 3%;
    justify-content: space-evenly;
    padding-bottom: 4% ;
}

.textareaCriptografa{
    
    
}

#criptografa{
    font-family: Inter,sans-serif;
    font-size: 1.5rem;
    background-color: #BAD7E9;
    color: #2B3467;
    border:transparent;
    outline: none;
    resize: none;
}

#criptografa::placeholder{
    color: #2B3467;

}

.aviso{
    font-size: .8rem;
    font-weight: bold;
    color: #EB455F;
    padding: 3% 0 3% 5%;
}

.botoes{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.btnCriptografa{
    position: sticky;
    top: 15%;
    border:transparent;
    font-family: Inter,sans-serif;
    font-weight: bold;
    color: #EB455F;
    background-color: #2B3467;
    height: 3.5rem;
    width: 40%;
    border-radius: 32px;
}

.btnDecriptografa{
    position: sticky;
    top: 15%;
    border:transparent;
    font-family: Inter,sans-serif;
    font-weight: bold;
    color: #2B3467;
    background-color: #EB455F;
    height: 3.5rem;
    width: 40%;
    border-radius: 32px;
}


.textareaDecriptografa{
    display: flex;
    flex-direction: column;
}

.decriptografa-Img{
    background-image: url(/assets/images/placeholder-img.svg);
    background-size: 210%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 5%;
}



#decriptografa{
    position: relative;
    padding: 5%;
    font-family: 'Inter',sans-serif;
    font-size: 1.5rem;
    background-color: #fff;
    color: #2B3467;
    outline: none;    
    border: transparent;
    border-radius: 32px;
    border-bottom-right-radius: 0 ;
    border-bottom-left-radius: 0;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    resize: none;
}




#decriptografa::placeholder{
    color: #2B3467;
    text-align: center;
    vertical-align:baseline;

}

.btnCopia{
    background-color: #fff;
    position: relative;
    border: transparent;
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    color: #2B3467;
    height: 3.5rem;
    width: 100%;
    border-radius: 0px;
    border-bottom-right-radius: 32px ;
    border-bottom-left-radius: 32px;
}


/* ---footer---*/

.rodape{
    
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: center;
    align-items: center;
    background-color: #EB455F;
    color: #2B3467;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.links{
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    text-decoration-line: none;
}


.links a{
    margin-right: 15px;
    text-decoration: none;
    color: #2B3467;
}


.links i{
    font-size: 1.5rem;
    margin-right: 2px;
    color: #2B3467;
}

#Github:hover{
    color: #BAD7E9;
}

#portifolio:hover{
    color: #BAD7E9;
}

#linkedin:hover{
    color: #BAD7E9;
}


@media (min-width: 570px) and (max-width: 990px){

    .logo-challenge{
        display: flex;
        justify-content: end;
        margin-top: 6%;
        margin-right: 6%;
        margin-bottom: 6%;
        align-items: end;
    }


    body{
        width: 100%;
    }

    main{
        
        display: flex;
        flex-direction: column;    
        padding: 10%;
    }

    #criptografa{
        padding: 4%;
        border-radius: 32px;
        background-color: #a6d0ea;
        width: 100%;
    }

    .textareaCriptografa{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    .botoes{
        display: flex;
        width: 100%;
        margin-top: 5%;
        gap: 40px;
    }

 
    .textareaDecriptografa{
        margin-top: 10%;
    }



    .decriptografa-Img{
        background-image: url(/assets/images/placeholder-img.svg);
        background-size: 700px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 5%;
    }

    .rodape{
        
        font-size: 10px;
        width: auto;
    }

    
    .links a{
        margin-right: 15px;
        text-decoration: none;
        color: #2B3467;
    }


    .links i{
        font-size: 25px;
        margin-right: 6px;
        color: #2B3467;
    }
}

@media (min-width: 320px) and (max-width: 570px){

    .logo-challenge{
        display: flex;
        justify-content: center;
        margin-top: 6%;
        margin-bottom: 6%;
        align-items: center;
    }

    body{
        width: 100%;
    }

    main{
        display: flex;
        flex-direction: column;        
        padding: 10%;
    }

    #criptografa{
        padding: 4%;
        border-radius: 32px;
        background-color: #a6d0ea;
        max-width: 95%;
    }

    .aviso{
        font-size: .6rem;
    }

    .aviso img{
        width: 4%;
    }

    .textareaDecriptografa{
        margin-top: 10%;
    }

    .decriptografa-Img{
        background-image: url(/assets/images/placeholder-img.svg);
        background-size: 700px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 5%;
    }

    .rodape{
        
        font-size: 10px;
        width: auto;
    }

    
    .links a{
        margin-right: 15px;
        text-decoration: none;
        color: #2B3467;
    }


    .links i{
        font-size: 15px;
        margin-right: 2px;
        color: #2B3467;
    }
}